# App Environment
NEXT_PUBLIC_APP_ENV=<NEXT_PUBLIC_APP_ENV>

# Node Environment
NODE_ENV=development

NEXT_PUBLIC_API_BASE_URL=<NEXT_PUBLIC_API_BASE_URL>

NEXT_PUBLIC_RECAPTCHA_SITE_KEY=<NEXT_PUBLIC_RECAPTCHA_SITE_KEY>
RECAPTCHA_SECRET_KEY=<RECAPTCHA_SECRET_KEY>

AUTOCRM_CAMPAIGN_SERVICE_NAME=<AUTOCRM_CAMPAIGN_SERVICE_NAME>
AUTOCRM_CORE_SERVICE_NAME=<AUTOCRM_CORE_SERVICE_NAME>
AUTOCRM_SHORT_RUN_AGENT_SERVICE_NAME=<AUTOCRM_SHORT_RUN_AGENT_SERVICE_NAME>

